* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background: rgb(250, 210, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
}

.geral {
    display: flex;
    height: 70px;

}

.adote {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    width: 60%;
    margin: 0px;
    background-color: rgb(110, 108, 116);
}

.adote h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 47px;
    color: yellow;
}

.adote h1:hover {
    font-size: 55px;
}

.botoes :hover {
    color: red;
}

.botoes {

    display: flex;
    justify-content: space-between;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 8px;
    padding-left: 18px;
    background-color: yellow;
    color: black;
}


footer p {
    color: yellow;
}

footer {
    background-color: rgb(110, 108, 116);
}

main {
    height: 100%;
}